[project]
name = "agentic-tools"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[project.scripts]
recording-transcribe = "main:recording_transcribe_main"
recording-categorize = "main:recording_categorize_main"
